.1_2 {
	overflow: hidden;
}

.e1_2 {
	background-color: rgba(255, 255, 255, 1);
	width: 1440px;
	height: 1024px;
	position: absolute;
}

.e1_3 {
	color: rgba(0, 0, 0, 1);
	width: 210px;
	height: 72px;
	position: absolute;
	left: 635px;
	top: 9px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e1_4 {
	color: rgba(0, 0, 0, 1);
	width: 154px;
	height: 40px;
	position: absolute;
	left: 368px;
	top: 12px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e1_5 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 162px;
	height: 53px;
	position: absolute;
	left: 65px;
	top: 9px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e1_6 {
	color: rgba(6.375000094994903, 6.268750196322799, 6.268750196322799, 1);
	width: 40px;
	height: 32px;
	position: absolute;
	left: 126px;
	top: 20px;
	font-family: Inter;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
	line-height: px;
}

.e1_7 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 322px;
	height: 40px;
	position: absolute;
	left: 1018px;
	top: 22px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.e1_8 {
	color: rgba(0, 0, 0, 1);
	width: 270px;
	height: 32px;
	position: absolute;
	left: 1054px;
	top: 26px;
	font-family: Inter;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e1_9 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 97px;
	height: 54px;
	position: absolute;
	left: 1072px;
	top: 94px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.e1_10 {
	color: rgba(0, 0, 0, 1);
	width: 38px;
	height: 32px;
	position: absolute;
	left: 1104px;
	top: 107px;
	font-family: Inter;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e1_11 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 97px;
	height: 54px;
	position: absolute;
	left: 1189px;
	top: 94px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.e1_12 {
	color: rgba(0, 0, 0, 1);
	width: 58px;
	height: 64px;
	position: absolute;
	left: 1210px;
	top: 106px;
	font-family: Inter;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e1_13 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 97px;
	height: 54px;
	position: absolute;
	left: 1306px;
	top: 94px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.e1_14 {
	color: rgba(0, 0, 0, 1);
	width: 44px;
	height: 64px;
	position: absolute;
	left: 1340px;
	top: 103px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.e1_15 {
	transform: rotate(-0.0004312203601169182deg);
	width: 1440px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 81px;
}

.1_15 {
	border: 1px solid rgba(0, 0, 0, 1);
}

.e1_16 {
	transform: rotate(-0.041398676354682765deg);
	width: 1440.0003662109375px;
	height: 0px;
	position: absolute;
	left: -5.6843418860808015e-14px;
	top: 167px;
}

.1_16 {
	border: 1px solid rgba(0, 0, 0, 1);
}

.1_17 {
	border: 1px solid rgba(0, 0, 0, 1);
}

.e1_17 {
	width: 207px;
	height: 0px;
	position: absolute;
	left: 125px;
	top: 167px;
}

.e1_18 {
	color: rgba(0, 0, 0, 1);
	width: 306px;
	height: 123px;
	position: absolute;
	left: 598px;
	top: 212px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.e1_19 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 211px;
	height: 142px;
	position: absolute;
	left: 546px;
	top: 277px;
}

.e1_20 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 211px;
	height: 142px;
	position: absolute;
	left: 546px;
	top: 546px;
}

.e1_21 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 210px;
	height: 142px;
	position: absolute;
	left: 874px;
	top: 277px;
}

.e1_22 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 211px;
	height: 142px;
	position: absolute;
	left: 874px;
	top: 545px;
}

.e1_23 {
	color: rgba(0, 0, 0, 1);
	width: 122px;
	height: 64px;
	position: absolute;
	left: 591px;
	top: 446px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
	line-height: px;
}

.e1_24 {
	color: rgba(0, 0, 0, 1);
	width: 122px;
	height: 64px;
	position: absolute;
	left: 917px;
	top: 719px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
	line-height: px;
}

.e1_25 {
	color: rgba(0, 0, 0, 1);
	width: 122px;
	height: 64px;
	position: absolute;
	left: 590px;
	top: 715px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
	line-height: px;
}

.e1_26 {
	color: rgba(0, 0, 0, 1);
	width: 122px;
	height: 64px;
	position: absolute;
	left: 917px;
	top: 455px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
	line-height: px;
}

.e1_27 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 514px;
	top: 323px;
}

.1_28 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_28 {
	width: 7.097500324249268px;
	height: 15.84000015258789px;
	position: absolute;
	left: 7.902499675750732px;
	top: 4.079999923706055px;
}

.e1_29 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 505px;
	top: 605px;
}

.1_30 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_30 {
	width: 7.097500324249268px;
	height: 15.84000015258789px;
	position: absolute;
	left: 7.902499675750732px;
	top: 4.079999923706055px;
}

.e1_31 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 1092px;
	top: 328px;
}

.1_32 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_32 {
	width: 7.097500324249268px;
	height: 15.84000015258789px;
	position: absolute;
	left: 8.90999984741211px;
	top: 4.079999923706055px;
}

.e1_33 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 1096px;
	top: 611px;
}

.1_34 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_34 {
	width: 7.097500324249268px;
	height: 15.84000015258789px;
	position: absolute;
	left: 8.90999984741211px;
	top: 4.079999923706055px;
}

.e1_35 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(0.11516958081179318deg);
	width: 1440.0029296875px;
	height: 0px;
	position: absolute;
	left: -5.6843418860808015e-14px;
	top: 853.10546875px;
}

.1_35 {
	border: 1px solid rgba(0, 0, 0, 1);
}

.e1_36 {
	color: rgba(0, 0, 0, 1);
	width: 89px;
	height: 32px;
	position: absolute;
	left: 84px;
	top: 876px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.e1_37 {
	color: rgba(0, 0, 0, 1);
	width: 99px;
	height: 128px;
	position: absolute;
	left: 76px;
	top: 912px;
	font-family: Inter;
	text-align: center;
	font-size: 13px;
	letter-spacing: 0;
	line-height: px;
}

.e1_38 {
	color: rgba(0, 0, 0, 1);
	width: 73px;
	height: 32px;
	position: absolute;
	left: 295px;
	top: 876px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.e1_39 {
	width: 50px;
	height: 45px;
	position: absolute;
	left: 281px;
	top: 955px;
}

.1_40 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_40 {
	width: 16.66666603088379px;
	height: 30px;
	position: absolute;
	left: 18.75px;
	top: 11.25px;
}

.1_41 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_41 {
	width: 41.66666793823242px;
	height: 37.5px;
	position: absolute;
	left: 4.166666507720947px;
	top: 3.75px;
}

.e1_42 {
	width: 54px;
	height: 45px;
	position: absolute;
	left: 341px;
	top: 955px;
}

.1_43 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_43 {
	width: 45px;
	height: 37.5px;
	position: absolute;
	left: 4.5px;
	top: 3.75px;
}

.1_44 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_44 {
	width: 15.75px;
	height: 13.125px;
	position: absolute;
	left: 19.125px;
	top: 15.9375px;
}

.1_45 {
	border: 2px solid rgba(0, 0, 0, 1);
}

.e1_45 {
	width: 0.027002334594726562px;
	height: 0px;
	position: absolute;
	left: 39.680999755859375px;
	top: 13.125px;
}

.e1_46 {
	color: rgba(0, 0, 0, 1);
	width: 256px;
	height: 52px;
	position: absolute;
	left: 682px;
	top: 899px;
	font-family: Inter;
	text-align: center;
	font-size: 36px;
	letter-spacing: 0;
	line-height: px;
}

.e1_47 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 290px;
	height: 40px;
	position: absolute;
	left: 994px;
	top: 899px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e1_48 {
	color: rgba(0, 0, 0, 1);
	width: 99px;
	height: 32px;
	position: absolute;
	left: 1060px;
	top: 901px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
	line-height: px;
}

.e1_49 {
	background-color: rgba(241.18749797344208, 223.50040465593338, 160.79165518283844, 1);
	width: 111px;
	height: 32px;
	position: absolute;
	left: 1306px;
	top: 899px;
}

.e1_50 {
	color: rgba(0, 0, 0, 1);
	width: 73px;
	height: 32px;
	position: absolute;
	left: 1333px;
	top: 900px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
	line-height: px;
}

.e1_51 {
	background-color: rgba(240.12499898672104, 239.12448227405548, 239.12448227405548, 1);
	width: 242px;
	height: 599px;
	position: absolute;
	left: 19px;
	top: 189px;
	border-radius: 20px;
}

.e1_52 {
	color: rgba(0, 0, 0, 1);
	width: 175px;
	height: 64px;
	position: absolute;
	left: 52px;
	top: 288px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.e1_53 {
	color: rgba(0, 0, 0, 1);
	width: 85px;
	height: 64px;
	position: absolute;
	left: 52px;
	top: 451px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.e1_54 {
	color: rgba(0, 0, 0, 1);
	width: 60px;
	height: 32px;
	position: absolute;
	left: 52px;
	top: 505px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.e1_55 {
	color: rgba(0, 0, 0, 1);
	width: 52px;
	height: 64px;
	position: absolute;
	left: 52px;
	top: 564px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.e1_56 {
	color: rgba(0, 0, 0, 1);
	width: 90px;
	height: 32px;
	position: absolute;
	left: 52px;
	top: 627px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.e1_57 {
	color: rgba(0, 0, 0, 1);
	width: 74px;
	height: 32px;
	position: absolute;
	left: 52px;
	top: 687px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.e1_58 {
	color: rgba(0, 0, 0, 1);
	width: 117px;
	height: 32px;
	position: absolute;
	left: 52px;
	top: 228px;
	font-family: Inter;
	text-align: center;
	font-size: 22px;
	letter-spacing: 0;
	line-height: px;
}

.e1_59 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 230px;
	top: 293px;
}

.1_60 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_60 {
	width: 7.097500324249268px;
	height: 15.84000015258789px;
	position: absolute;
	left: 8.90999984741211px;
	top: 4.079999923706055px;
}

.e1_61 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 222px;
	top: 456px;
}

.1_62 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_62 {
	width: 7.097500324249268px;
	height: 15.84000015258789px;
	position: absolute;
	left: 8.90999984741211px;
	top: 4.079999923706055px;
}

.e1_63 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 219px;
	top: 512px;
}

.1_64 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_64 {
	width: 7.097500324249268px;
	height: 15.84000015258789px;
	position: absolute;
	left: 8.90999984741211px;
	top: 4.079999923706055px;
}

.e1_65 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 219px;
	top: 573px;
}

.1_66 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_66 {
	width: 7.097500324249268px;
	height: 15.84000015258789px;
	position: absolute;
	left: 8.90999984741211px;
	top: 4.079999923706055px;
}

.e1_67 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 216px;
	top: 631px;
}

.1_68 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_68 {
	width: 7.097500324249268px;
	height: 15.84000015258789px;
	position: absolute;
	left: 8.90999984741211px;
	top: 4.079999923706055px;
}

.e1_69 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 216px;
	top: 691px;
}

.1_70 {
	border: 1.5px solid rgba(0, 0, 0, 1);
}

.e1_70 {
	width: 7.097500324249268px;
	height: 15.84000015258789px;
	position: absolute;
	left: 8.90999984741211px;
	top: 4.079999923706055px;
}

.e1_71 {
	color: rgba(0, 0, 0, 1);
	width: 48px;
	height: 32px;
	position: absolute;
	left: 128px;
	top: 324px;
	font-family: Inter;
	text-align: center;
	font-size: 17px;
	letter-spacing: 0;
	line-height: px;
}

.e1_72 {
	color: rgba(0, 0, 0, 1);
	width: 16px;
	height: 32px;
	position: absolute;
	left: 110px;
	top: 356px;
	font-family: Inter;
	text-align: center;
	font-size: 17px;
	letter-spacing: 0;
	line-height: px;
}

.e1_73 {
	color: rgba(0, 0, 0, 1);
	width: 16px;
	height: 32px;
	position: absolute;
	left: 110px;
	top: 387px;
	font-family: Inter;
	text-align: center;
	font-size: 17px;
	letter-spacing: 0;
	line-height: px;
}

.e1_74 {
	color: rgba(0, 0, 0, 1);
	width: 16px;
	height: 32px;
	position: absolute;
	left: 110px;
	top: 325px;
	font-family: Inter;
	text-align: center;
	font-size: 17px;
	letter-spacing: 0;
	line-height: px;
}

.e1_75 {
	color: rgba(0, 0, 0, 1);
	width: 65px;
	height: 32px;
	position: absolute;
	left: 128px;
	top: 356px;
	font-family: Inter;
	text-align: center;
	font-size: 17px;
	letter-spacing: 0;
	line-height: px;
}

.e1_76 {
	color: rgba(0, 0, 0, 1);
	width: 115px;
	height: 64px;
	position: absolute;
	left: 131px;
	top: 388px;
	font-family: Inter;
	text-align: center;
	font-size: 17px;
	letter-spacing: 0;
	line-height: px;
}

.e1_77 {
	width: 100px;
	height: 100px;
	position: absolute;
	left: -4px;
	top: 31px;
}